<div>

    {{#if user}}
    <div>
        <h2>Welcome {{user.firstName}}</h2>
        <button id="userEmailButton" style="display: none;" data-userEmail="{{user.email}}"></button>
    </div>
    {{/if}}

    {{#each listOfProducts}}
    <div>
        <h2>Title: {{this.title}}</h2>
        <p>Description {{this.description}}</p>
        <p>Images: {{this.thumbnail}}</p>
        <p>Price: {{this.price}}</p>
        <p>Status: {{this.status}}</p>
        <p>Code: {{this.code}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Category: {{this.category}}</p>
        <div>
            <button productId={{this._id}} class="addProductToCart" >Add To Cart</button>
        </div>
    </div>
    {{/each}}

    <div>
        <h2>Information</h2>
        <p>
            Total Products: {{totalDocs}}
        </p>
        <p>
            Page: {{page}}
        </p>
        <div>
            {{#if hasPrevPage}}
            <a href="{{prevLink}}">Previous Page</a>
            {{/if}}
            {{#if hasNextPage}}
            <a href="{{nextLink}}">Next Page</a>
            {{/if}}
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js" /></script>       {{!-- Los scripts comunican las view con el socket --}}
<script src="/js/index.js" /></script>
<script>

    let userLoggedId;

    //ADD PRODUCT TO CART LISTENER
    buttonsAddToCart = document.querySelectorAll('.addProductToCart');
    buttonsAddToCart.forEach((button) => {
        button.addEventListener("click", function(){
            const productIDToAdd = button.getAttribute('productId')
            const userEmailButton = document.querySelector('#userEmailButton')
            userLoggedEmail = userEmailButton.getAttribute('data-userEmail')
            console.log("User Email:", userLoggedEmail)
            addProductToCart(productIDToAdd, userLoggedEmail)
        });
    })
    

    //ADD PRODUCT TO CART FUNCTION
    function addProductToCart(productIDToAdd, userLoggedEmail){
        console.log("click")
        console.log(productIDToAdd)
        socket.emit('addProductToCart', {productIDToAdd,userLoggedEmail});
    }
</script>