<div>

    {{#if user}}
    <div>
        <h2>Welcome {{user.firstName}}</h2>
        <button id="userEmailButton" style="display: none;" userEmail="{{user.email}}"></button>
    </div>
    {{/if}}

    {{#each listOfProducts}}
    <div>
        <h2>Title: {{this.title}}</h2>
        <p>Description {{this.description}}</p>
        <p>Images: {{this.thumbnail}}</p>
        <p>Price: {{this.price}}</p>
        <p>Status: {{this.status}}</p>
        <p>Code: {{this.code}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Category: {{this.category}}</p>
        <div>
            <button productId={{this._id}} class="addProductToCart" >Add To Cart</button>
        </div>
    </div>
    {{/each}}

    <div>
        <h2>Information</h2>
        <p>
            Total Products: {{totalDocs}}
        </p>
        <p>
            Page: {{page}}
        </p>
        <div>
            {{#if hasPrevPage}}
            <a href="{{prevLink}}">Previous Page</a>
            {{/if}}
            {{#if hasNextPage}}
            <a href="{{nextLink}}">Next Page</a>
            {{/if}}
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js" /></script>       {{!-- Los scripts comunican las view con el socket --}}
<script src="/js/index.js" /></script>
<script>

    //ADD PRODUCT TO CART LISTENER
    document.addEventListener('DOMContentLoaded',() => {
    const buttonsAddToCart = document.querySelectorAll('.addProductToCart');
    buttonsAddToCart.forEach((button) => {
        button.addEventListener("click", (e) => {
            const cid = "{{user.cart}}";
            const pid = e.currentTarget.getAttribute('productId');
            fetch(`/api/cart/${cid}/product/${pid}`,{
                method: 'POST',
                headers: {
                    'Content-Type':'application/json',
                }
            })
            .then((Response)=>{
                if(Response.status === 200){
                    alert('Product added to the cart successfully');
                } else {
                    alert ('The product was not added to the cart successfully')
                }
            })
            .catch((Error) => {
                console.error('Error in the antempt to add a product to the cart:', error);
                alert('Error in the antempt to add a product to the cart')
            })
        });
    });
});
</script>